@model HoodooPrototype.Models.Orders

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsViewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsViewed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
