@model IEnumerable<HoodooPrototype.Models.Orders>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRecieved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsViewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsViewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
